* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
header {
    height: 70px;
    border: 5px solid;
}
header h1 {
    border: 5px solid;
    display: inline-block;
    float: left;
}
header ul {
    border: 5px solid;
    float: right;
}